<header class="header1">
  <!-- Header desktop -->
  <div class="container-menu-header">


    <div class="wrap_header">
      <!-- Logo -->
      <a  class="menu_bar logo" div_id="product_page" href="#">
        <img class="menu_bar" div_id="product_page" src="images/icons/logo.png" alt="IMG-LOGO">
      </a>

      <!-- Menu -->
      <div class="wrap_menu">
        <nav class="menu">
          <ul class="main_menu">
            <li >
              <a class="menu_bar" div_id="product_page" href="#">Home</a>
            </li>

            <li >
              <a class="menu_bar" div_id="about_page" href="#">About</a>
            </li>

            <li >
              <a class="menu_bar" div_id="contact_page" href="#">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Header Icon -->
      <div class="header-icons">

        <span class="linedivide1"></span>

        <div class="header-wrapicon2 ">
          <img src="images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown cart_details" alt="ICON">
          <span id="count_cart" class="header-icons-noti">0</span>
        </div>

      </div>
    </div>
  </div>

</header>
