<div class="container">
  <div class="row">
    <div id="content" class="col-sm-12">
      <h1>Create Account</h1>
      <form [formGroup]="regesterform">
        <div id="create-account-form ">
          <fieldset id="account" class="form-horizontal">
            <legend>Your Personal Details</legend>
            <div class="form-group required">
              <label class="col-sm-2 control-label" >First Name</label>
              <div class="col-sm-10">
                <app-input [name]="name" [type]="type_text" ></app-input>
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" >Last Name</label>
              <div class="col-sm-10">
                <app-input [name]="name" [type]="type_text" ></app-input>
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="email">Email</label>
              <div class="col-sm-10">
                <input type="text" value="" name="customer[email]" id="email" placeholder="Email" class="form-control" autocorrect="off" autocapitalize="off">
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" >Password</label>
              <div class="col-sm-10">
                <app-input [name]="name" [type]="type_pass" ></app-input>
              </div>
            </div>
          </fieldset>
          <div class="submit">
            <app-submit (action)="regester()" [form]="form_name" ></app-submit>
            <span>
              <i class="fa fa-user left"></i>
              Create
            </span>
            or <a class="btn-acct" href="/">Return to Store</a>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>