<section class="bgwhite p-t-55 p-b-65">
<div class="container">
  <div class="row">
    <div id="content" class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h2>Returning Customer</h2>
            <p><strong>I am a returning customer</strong></p>
            <form [formGroup]="loginform" >
              <div class="container alert alert-warning" *ngIf="errors_array?.length" >
                {{errors_array[0].error}}
              </div>

              <div class="form-group">
                <label class="control-label" >Email</label>
                <app-input [name]="name" [type]="type_email" [formControlN]="loginform.controls.email"></app-input>
              </div>

              <div class="form-group">
                <label class="control-label">Password</label>
                <app-input [name]="name" [type]="type_pass" [formControlN]="loginform.controls.password"></app-input>
              </div>

              <p class="submit">
                <app-submit (action)="login()" [form_name]="loginform.valid" ></app-submit>
                or <a class="btn-acct" href="/">Return to Store</a>
              </p>
            </form>

          <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>