
<!-- Logo -->
<a  class="menu_bar logo" div_id="product_page" href="#">
  <img class="menu_bar" div_id="product_page" src="assets/images/icons/logo.png" alt="IMG-LOGO">
</a>

<div class="wrap_menu">
  <nav class="menu">
    <ul class="main_menu">


      <div  *ngIf="login_user?.length; else notfound" ><app-username [user]="login_user[0].email"></app-username></div>
      <ng-template #notfound>
        <app-login></app-login>
        <app-register></app-register>
      </ng-template>
      <app-wishlist-counter></app-wishlist-counter>


      <div *ngIf="login_user?.length; else notfound"><app-logout></app-logout></div>


    </ul>
  </nav>
</div>



<app-cart-counter></app-cart-counter>





