
<!-- Logo -->
<a  class="menu_bar logo" div_id="product_page" href="#">
  <img class="menu_bar" div_id="product_page" src="assets/images/icons/logo.png" alt="IMG-LOGO">
</a>

<!-- Menu -->
<div class="wrap_menu">
  <nav class="menu">
    <ul class="main_menu">
      <li >
        <a class="menu_bar" div_id="product_page" href="#">Home</a>
      </li>

      <li >
        <a class="menu_bar" div_id="about_page" href="#">About</a>
      </li>

      <li >
        <a class="menu_bar" div_id="contact_page" href="#">Contact Us</a>
      </li>
    </ul>
  </nav>
</div>
