<div id="cart" class="header-cart header-dropdown show-header-dropdown">
  <div id="subcart">

    <ul class="header-cart-wrapitem">

      <li class="header-cart-item" *ngFor="let product of all_cart">
        <div class="header-cart-item-img">
          <a href="/products/boxy5-t-shirt-with-roll-sleeve?variant=8772428103722">
            <img class="" src="{{product.ProductPicUrl}}" alt="{{product.ProductPicUrl}}" title="{{product.ProductPicUrl}}">
          </a>
        </div>
        <div class="header-cart-item-txt">
          <a href="/products/boxy5-t-shirt-with-roll-sleeve?variant=8772428103722" class="header-cart-item-name">
            {{product.Name}}
          </a>
          <span class="header-cart-item-info">
            {{product.Quantity}} × <span class="money" data-currency-usd="$20.00" data-currency="USD">${{product.Price}}</span>
          </span>
          <button type="button" onclick="cart.remove('8772428103722');" title="Remove" class="btn btn-xs" (click)="remove_from_cart(product.id)">
            x
          </button>
        </div>
      </li>


    </ul>
    <div class="header-cart-buttons">
      <div class="header-cart-wrapbtn">
        <!-- Button -->
        <a href="/cart-details" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
          View Cart
        </a>
      </div>
    </div>

  </div>
</div>